body{
    color: white;
    background: rgb(63,94,251);
    background: linear-gradient(330deg, rgb(28, 65, 255) 0%, rgb(137, 30, 167) 50%, rgb(255, 27, 73) 100%) no-repeat fixed;
    overflow-x: hidden;
    font-family: 'Biryani', sans-serif;
    margin: 0%;
    padding: 0%;
}
*{margin: 0%;padding: 0%;    transition: .5s;}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2 {
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 5px 0;
}
#jstableNumber {
    font-size: 23px;
    margin-bottom: 29px;
}

#finalTable {
    border-radius: 20px;
    padding: 23px 50px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    font-weight: 600;
    line-height: 55px;
    font-size: 39px;
    background-color: rgba(61, 61, 61, 0.329);
    background: rgba( 0, 0, 0, 0.10 );
    box-shadow: 12px 11px 20px rgba(0, 0, 0, 0.301);
    backdrop-filter: blur( 1.0px );
    -webkit-backdrop-filter: blur( 1.0px );
    border-radius: 10px;
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    border-left: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 1px solid rgba( 255, 255, 255, 0.08 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.08 );
    /* box-shadow: 0px 0px 30px rgb(60 60 60); */
}
.finaltablediv{position: relative;}
#top {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: violet;
    opacity: .4;
    font-size: 350px;
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
    z-index: -1;
    text-align: center;
}
#bottom {
    margin-top: 34px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    animation: bottom 1.5s 3s infinite;
}
@keyframes bottom {
    0%, 100% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: rgb(122, 122, 122);
    }
}
#bottom:hover{
    color: rgb(139, 139, 139);animation: none;
}
.kaisa{
    font-size: 15px;
    font-weight: 600;
    position:absolute;
    font-size: 20px;
    animation: new 6s 4s;
    left: -25%;
    top: 50%;
}
@keyframes new {
    0%, 100% {
        left: -25%;
    }
    50% {
        left: 10%;
    }
}
.kaise{
    font-size: 15px;
    font-weight: 600;
    position:absolute;
    font-size: 20px;
    animation: emoji 6s 7s;
    right: -25%;
    top: 50%;
}
@keyframes emoji {
    0%, 100% {
        right: -25%;
    }
    50% {
        right: 10%;
    }
}
.tahir{
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
    margin: 0%;
    font-size: 15px;
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-8deg, 0deg);
}
@media only screen and (max-width: 400px) {
    h1, h2 {
        margin: 8px 0;
        font-size: 38px;
    }
    #jstableNumber {
        font-size: 18px;
        margin-bottom: 30px;
    }
    #finalTable {
        border-radius: 20px;
        padding: 23px 50px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        line-height: 55px;
        font-size: 39px;
        font-size: 30px;
        background-color: rgba(61, 61, 61, 0.329);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.527);
    }
    #bottom {
        margin-top: 31px;
    }
    
}  

@media only screen and (max-width: 800px) {
    h1,h2{ margin: 12px 0;}
    #jstableNumber {
        font-size: 20px;
    }
    #bottom{
        margin-top: 40px;
    }
    
}  