body{
    color: white;
    background: rgb(19, 19, 19) url(./image.jfif) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
.background{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position:absolute;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}
.text{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.time{
    border-radius:20px;
    padding: 15px;
    min-width:40%;
    text-align: center;
    border: solid 1px;
}
#txt , #min , #sec , #amp{
    transition:.5s;
    font-size: 100px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
}
#amp{
    font-size: 30px;
}
@media (max-width:600px){
    .time{
        padding: 20px;
    }
#txt , #min , #sec , #amp{
    font-size: 50px;
}
#amp{
    font-size: 18px;
}
.message{
    font-size: 15px;
}
}