@font-face {
    font-family:jam;
    src: url(./Jameel\ Noori\ Nastaleeq\ Kasheeda.ttf);
}
body{
    color: white;
    background: rgb(19, 19, 19) url(./image.png) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    transition:none;
}
*{    transition: .5s;}
.text{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.time {
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    border: solid 3px;
}
#txt , #min , #sec , #amp{
    transition:.5s;
    font-size: 100px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
}
#lang{
    font-family: jam;
    font-weight: lighter;
    font-size: 40px;
}
#amp{
    font-size: 30px;
}
#lang{
    font-size: 35px;
}
#analog{
    background: url(./c.png) no-repeat;
    background-size: 100%;
    width: 400px;
    height: 292px;
    position: relative;
}
#hhand {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 1%;
    height: 24%;
    left: 49.5%;
    top: 26%;
    transform-origin: bottom;
    transform: rotate(300deg);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#mhand{
    position: absolute;
    background: rgb(255, 255, 255);
    width: 1%;
    height: 36%;
    left: 49.5%;
    top: 14%;
    transform-origin: bottom;
    transform: rotate(60deg);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#shand {
    position: absolute;
    background: rgb(255 0 94);
    width: .2%;
    height: 38%;
    left: 49.5%;
    top: 12%;
    transform-origin: bottom;
    transform: rotate(120deg);
    border-top-left-radius: 20px;
    transition: none;
}
#circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: cornsilk;
    border-radius: 50%;
    top: 46.5%;
    left: 47.5%;
    z-index: 1;
    box-shadow: 0px 0px 5px black;
}
#label{
    position:absolute;
    top: 70%;
    text-align: center;
}
#sec{
    position:absolute;
    top: 25%;
    left: 30%;
    opacity: 0.5;
}
@media (max-width:600px){
    .time{
        padding: 20px;
    }
#txt , #min , #sec , #amp{
    font-size: 65px
}
#amp{
    font-size: 18px;
}
.message{
    font-size: 15px;
}
#lang{
    font-size: 23px;
}#line{
    font-size: 12px;
}
}